body {
	background-color: #3c3c3c;
	margin: 0px
}
/* Navbar code */
.navbar {
	height: 45px;
	width: 100%;
	background-color: black;
}
.navLink {
    display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
	color: white;
	font-family: 'Oswald', sans-serif;
}
.navBottom {
	width: 100%;
	height: 5px;
	border: 0px;
	background-image: linear-gradient(to right, #cfe385, #3c7b3b);
}
/* Text/page element parameters for all pages*/
p {
	color: white;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
}
.title {
	font-size: 2em;
}
.underline {
	width: 60%;
	height: 2px;
	border: 0px;
	background-image: linear-gradient(to right, #1e5aa8, #68c2e1);
}
.info {
	height: 24px;
}
input {
	display: inline-block;
}
/* Field map code */
#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}