.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none; 
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    font-weight: bold;
}
.mapControl div button.active {
    background-color: #1E5AA8;
}
#dataField table {
    width: 80%;
    margin: 10px auto;
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}
#dataField table tr {
    border: 1px solid white;
}
#dataField table tr td {
    border: 1px solid white;
}

.infoCard {
    margin-top: 20px;
    background-color: #333;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.rankings {
    margin-top: 20px;
    background-color: #111;
}
.rank {
    background-color: white;
    color: black;
    padding: 10px;
}
.rankings .leader {
    color: white !important;
    text-align: center;
    background-color: #111 !important;
}

.sideBox {
	background-color: gray;
	margin-top: 5px;
	height: 346px;
	color: white;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 5px;
}
.shotlist {
	border-bottom-right-radius: 5px;
}
.legend {
	padding-left: 2px;
	border-bottom-left-radius: 5px;
	padding-right: 0px !important;
}
.nav-link {
    display: inline-block;
	margin-left: 5px;
	margin-top: 10px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	border: 0px;
	z-index: 0;
}
.nav-link:hover {
	color: white;
}
.nav-item {
	height: inherit;
}

.navbar-nav > li.active > #navReport,
.navbar-nav > li.active > #navReport:hover{
	background-image: linear-gradient(to right, rgb(206,226,132), rgb(198,220,128));
	color: #3c3c3c;
	border: 0px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.navbar-nav > li > #navReport:hover {
	background-image: linear-gradient(to right, rgb(176,196,102), rgb(168,190,98));
	border: 0px;
	color: #3c3c3c;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.navbar-nav > li.active > #navData,
.navbar-nav > li.active > #navData:hover{
	background-image: linear-gradient(to right, rgb(194,218,126), rgb(186,212,122));
	color: #3c3c3c;
	border: 0px;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.navbar-nav > li > #navData:hover {
	background-image: linear-gradient(to right, rgb(164,188,96), rgb(156,182,92));
	border: 0px;
	color: #3c3c3c;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.navBottom-data {
	width: 100%;
	height: 5px;
	border: 0px;
	background-image: linear-gradient(to right, #cfe385, #3c7b3b);
	z-index: 2;
}
#search {
	border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.row {
	margin-left: 0 !important;
}

canvas {
	margin-top: 5px;
}