.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none; 
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
    font-weight: bold;
}
.mapControl div button.active {
    background-color: #1E5AA8;
}
#dataField table {
    width: 80%;
    margin: 10px auto;
    color: white;
    border: 2px solid white;
    border-collapse: collapse;
    text-align: center;
}
#dataField table tr {
    border: 1px solid white;
}
#dataField table tr td {
    border: 1px solid white;
}

.infoCard {
    margin-top: 20px;
    background-color: #333;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    text-align: center;
    border-radius: 5px;
}